{
  "GOOGLE_WEB_CLIENT_ID": "TU-WEB-CLIENT-ID.apps.googleusercontent.com",
  "GOOGLE_ANDROID_SERVER_CLIENT_ID": "941456577148-ovde77s6k81sjd05prd4o9itm99p8ivh.apps.googleusercontent.com",
  "GOOGLE_IOS_CLIENT_ID": ""
}
